@font-face {
    font-family: "DINNextLTArabic-Bold";
    src: url("../font/DINNextLTArabic-Bold-2.ttf");
}

@font-face {
    font-family: "DINNextLTArabic-Light";
    src: url("../font/DINNextLTArabic-Light.ttf");
}

@font-face {
    font-family: "DINNextLTArabic-Medium";
    src: url("../font/alfont_com_AlFont_com_DINNextLTArabic-Medium-1.ttf");
}

:root {
    --khater-font: "DINNextLTArabic-Bold", sans-serif !important;
    --khater-font-two: "DINNextLTArabic-Light", sans-serif !important;
    --khater-font-three: "DINNextLTArabic-Medium", sans-serif !important;
    --khater-gray: #6f7775;
    --khater-gray-rgb: 111, 119, 117;
    --khater-white: #ffffff;
    --khater-white-rgb: 255, 255, 255;
    --khater-base: #522e90;
    --khater-base-rgb: 0, 113, 93;
    --khater-black: #4a346d;
    --khater-secondary-1: #62bb46;
    --khater-secondary-10: #61bb4675;
    --khater-secondary-2: #005172;
    --khater-secondary-20: #00527259;
    --khater-secondary-3: #f37024;
    --khater-secondary-30: #f370245b;
    --khater-secondary-4: #fec340;
    --khater-secondary-5: #5e3056;
    --khater-black-rgb: 40, 55, 52;
    --khater-primary: #15c0f2;
    --khater-primary-rgb: 251, 212, 90;
    --khater-extra: #f9f4e8;
    --khater-extra-rgb: 249, 244, 232;
    --khater-bdr-color: #eee9db;
    --khater-bdr-color-rgb: 238, 233, 219;
    --khater-bdr-radius: 20px;
}

body {
    direction: rtl;
}

p {
    margin: 0;
    font-family: var(--khater-font-two) !important;
    font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--khater-black);
    font-family: var(--khater-font-two) !important;
    margin: 0;
    font-size: 32px;
}

.main-menu .main-menu__list > li + li,
.stricky-header .main-menu__list > li + li {
    margin-right: 55px;
    margin-left: 5px;
    font-family: var(--khater-font-two);
}

.main-menu__left {
    position: relative;
    display: block;
    width: 9%;
    margin-left: 157px !important;
    margin-right: 0 !important;
}

.main-slider {
    direction: ltr !important;
}

.main-slider__content {
    text-align: right !important;
}

.faq-one__text-1 {
    margin-left: 70px !important;
    margin-right: 0px !important;
}

.main-menu .main-menu__list > li > ul > li > a::before,
.main-menu .main-menu__list > li > ul > li > ul > li > a::before,
.stricky-header .main-menu__list > li > ul > li > a::before,
.stricky-header .main-menu__list > li > ul > li > ul > li > a::before {
    content: "";
}

.list-unstyled {
    padding-right: 0 !important;
}

.footer-widget__contact-list li .text {
    margin-right: 15px;
    margin-left: 0px;
}

.footer-widget__about {
    position: relative;
    display: block;
    margin-right: 0;
    margin-left: 84px;
}

.site-footer__social a + a {
    margin-right: 10px;
    margin-left: 0px;
}

.about-four__img {
    position: relative;
    display: block;
    z-index: 2;
    width: 80%;
    right: 150px;
    transform: rotatey(180deg);
}

.about-four__img {
    position: relative;
    display: block;
    z-index: 2;
    width: 100% !important;
    right: 150px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.feature-two__title {
    margin: -15px 47px 12px 57px !important;
}

.content-inner-1 .content li {
    text-align: right !important;
    direction: rtl;
    margin-right: 18px;
}

.events-carousel-page {
    direction: ltr;
    text-align: right;
}

.main-slider .swiper-wrapper .container,
.main-slider .swiper-wrapper .main-slider-shape-1 {
    direction: rtl !important;
}

.main-slider-shape-2 {
    right: 130px !important;
    direction: rtl !important;
}

.main-slider .image-layer {
    left: -20px !important;
}

/* .megamenu.ling {
    margin-right: 100px !important;
    margin-left: 10px !important;

} */

.about-four__right {
    position: relative;
    display: block;
    /* margin-right: 60px; */
}

.counter-one__single {
    position: relative;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    text-align: right;
    margin-bottom: 33px;
    display: inline-flex;
}

.megamenu.ling {
    margin-left: 0 !important;
    margin-right: 20vh !important;
}

.preloader__image {
    background-image: url(../images/logo-ar.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

.main-slider__nav {
    position: absolute;
    top: 42%;
    right: 45px;
    z-index: 100;
    transform: translateY(-50%) translateX(0%);
    display: flex;
    align-items: flex-end !important;
    /* justify-content: end; */
    max-width: 95vw;
    width: 100%;
    padding: 0 15px;
    height: 0;
    line-height: 0;
}

@media only screen and (max-width: 767px) {
    .main-timeline9:before {
        right: 0;
    }

    .about-four__img {
        position: relative;
        display: block;
        z-index: 2;
        width: 80%;
        right: 0px !important;
    }

    .main-timeline9 .icon {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #fff;
        border: 4px dashed;
        position: absolute;
        top: -50px;
        right: -10px;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-title__title {
        font-size: 35px;
        text-align: center !important;
    }
    h3.section-title__title {
        padding-bottom: 10px;
    }
}

.main-slider__nav {
    display: none;
}

.faq-one__text-1 {
    margin-left: 10px !important;
    margin-right: 0px !important;
}

.number {
    direction: ltr !important;
}

@media only screen and (max-width: 767px) {
    .counter-one__single {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 1099px) and (max-width: 1450px) {
    .main-slider__nav {
        left: 94% !important;
        align-items: flex-start !important;
    }
}
